<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
      >
  <head th:replace="~{layout/plantilla :: head}">
    <title>Concesionaria</title>
    <meta charset="UTF-8"/>
  </head>
  <body>

    <header th:replace="~{layout/plantilla :: header}" />
    <!-- comment 
    <section th:replace="~{home/fragmentos :: tabsCategoria}"/>

    <section th:replace="~{home/fragmentos :: listarVehiculos}"/>-->
    <section th:replace="~{carrito/fragmentos :: listadoVehiculos}"/>

    <!--
        <p>Mira la img <a th:each="v : ${vehiculos}" th:href="${v.rutaInforme}" th:download="${v.rutaInforme}">img</a></p>
         comment
        <iframe width="1100" height="400" th:each="v : ${vehiculos}" th:src="${v.rutaInforme}">
                        
        </iframe> -->  

    <section th:replace="~{vehiculo/fragmentos :: videos}"/>

    <footer th:replace="~{layout/plantilla :: footer }"/>



  </body>
</html>