<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
    >
    <head th:replace="~{layout/plantilla :: head}">
        <title>La pulpe</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}" />
        <!-- comment 
        <section th:replace="~{informe/fragmentos :: formulario}"/> 
        <img th:src="${v.rutaImagen}" 
        <iframe width="1100" height="400" th:src="${v.rutaInforme">
                    
        </iframe>-->
        <p>Mira la img <a href="https://storage.googleapis.com/concesionaria-6e588.appspot.com/concesionaria/vehiculo/documento0000000000000000005InformePrueba.docx?GoogleAccessId=firebase-adminsdk-lp4yt@concesionaria-6e588.iam.gserviceaccount.com&Expires=2028491474&Signature=uM%2BljUJpn%2BXKlwIBB9EFiD4foml7V6%2BtEDFeDAh%2FrGcvPwcvJMotbzlVkYDpRMKdWJjSf48rY1eR6ENmCnIwureDM5dUgZfPUNv19LAJT24NoHXsZcAbjfVba9UVOTQNkhfwoCDD6%2FCmVClpk%2FVIqEm%2FaFUvB%2BlYA7bpsKp8pKV%2FD3w5TNeABVSCSl22XutJmf2oYlICArHl2%2B8qVWWSLLYbAJk0o%2BfPlDQ%2FEskoP9LqyJkRD%2Bn1Ecfp%2FhCatu9yE1EY%2F3%2Blead6XCYRtiJVVJ1nkVfmNaFEhEowB2xrWlfwSPi8ooG88lpH63QMn8DS6SeLUdPvx276uIYViv0xYA%3D%3D"
                          download>img</a></p>
        
        <footer th:replace="~{layout/plantilla :: footer }"/>
        
    </body>
</html>
