<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
  <head th:replace="~{layout/plantilla :: head}">
    <title>TechShop</title>
  </head>
  <body>
    <!-- *IMPORTANTE USAR EN PROYECTO* -->
    <!-- 1 Sección para mostar los vehiculos en "bonito"-->
    <section th:fragment="listadoVehiculos">
      <div class="container">
        <!-- fila de 3 columnas -->
        <div class="row row-cols-3">
          <!-- carta de padding 2 , 
          producto porque fue inyectado desde controller, p es una variable-->
          <div class="card p-2" th:each="v : ${vehiculos}">
            <figure>
              <!-- thymeleaf th:src ruta de imagen -->
              <img th:src="${v.rutaImagen}" 
                   class="card-img-top" 
                   alt="alt" width="100%"/>
              <figcaption>
                <!--  Está envuelta entre paréntesis para que se muestre como parte del mismo texto del precio
                [[...]] se utiliza para procesar el texto sin escapar  -->
                <span th:if="${moneda == 'euro'}">€</span>
                <span th:if="${moneda == 'dolar'}">$</span>
                [[${v.precio}]] ([[${v.existencias}]])

              </figcaption>
            </figure>
            <div class="card-header">
              <!-- p porque lo nombramos arriba -->
              <a th:href="@{/pruebas/detalles/}+${v.idVehiculo}" style="text-decoration: none; color: #000;"><h4>[[${v.marca}]]</h4></a>
            </div>
            <div class="card-body">
              <p class="card-text">[[${v.modelo}]]</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section th:fragment="tabsCategoria">
      <div class="container">
        <div class="row py-4">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <!-- "/pruebas/listado" viene del controller, el retorno -->
              <a class="nav-link" href="/pruebas/listado">
                [[#{pruebas.todas}]]
              </a>
            </li>
            <!-- funciona porque PruebasController paso categorias con el model -->
            <li class="nav-item" th:each="c : ${categorias}">
              <!-- "para pasar el idCategoria como un url dentro de la pestaña-->
              <a class="nav-link" th:href="@{/pruebas/listado/}+${c.idCategoria}">
                [[${c.descripcion}]]
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>


    <main th:fragment="vehiculoDetalles" class="mb-4">
      <div class="container ">
        <div class="row">
          <div class="col-md-7">
            <div class="d-flex justify-content-center">
              <figure class="figure">
                <img th:src="${vehiculo.rutaImagen}" 
                     class="rounded" 
                     alt="Imagen del vehiculo"
                     width="100%"/>
              </figure>

            </div>
          </div>
          <div class="col-md-5">
            <h2>[[${vehiculo.marca}]]</h2>
            <h3>[[${vehiculo.modelo}]] [[${vehiculo.anio}]]</h3>
            <p>Existencias totales [[${vehiculo.existencias}]]</p>
            <p>Valor: $[[${vehiculo.precio}]]</p>
            <p th:if="${vehiculo.rutaInforme != null}">Ruta del <a th:href="${vehiculo.rutaInforme}">informe</a></p>

            <form>
              <input type="hidden" 
                     name="idVehiculo" 
                     th:value="${vehiculo.idVehiculo}" />
              <button class="btn bg-naranja"
                      id="addCar"
                      name="addCar"
                      onclick="addCart(this.form)"
                      type="button">
                <i class="fas fa-cart-plus"></i> Agregar
              </button>
            </form>
            <!-- comment 
                <select class="form-select" name="pais">
                  <option value="usa" id="uno">Estados Unidos</option>
                  <option value="espana" id="dos">España</option>
                </select>-->
            <form class="mt-2" >
              <div>
                <label class="my-2">
                  <input type="radio" name="pais" id="uno"/>USA</label>
                <label class="my-2">
                  <input type="radio" name="pais" id="dos"/>EU</label>
                <br/>
                <!--  <input type="number" id="valore" class="form-control" name="precio" th:field="*{precio}" readonly/>-->
                <input type="hidden" 
                       name="precio" 
                       th:value="${vehiculo.precio}" id="valore"/>
                <!--  <input type="hidden" 
                name="idVehiculo" 
                th:value="${vehiculo.idVehiculo}" />-->
                <input class="btn btn-primary" type="button" id="cotizador" value="Cotizar" onclick="convertir()"/>
                <!-- comment<button type="submit" class="btn btn-success mt-2">Calcular</button> -->
              </div>
            </form>
           
              <!-- comment 
              <label for="iva">Iva</label>
              <input class="form-control" name="iva" type="text" field=""/>

              <label for="precioFinal">Precio final</label>
              <input class="form-control" name="precioFinal" type="text"/>-->
            
          </div>
          <!-- comment
          <div class="row">
            <div class="col-md-3">
              hola mundo
            </div>
          </div> -->
        </div>
      </div>
    </main>


    <section th:fragment="verResultado"><!-- No se muestra si esta vacia -->
      <p>Cotizado igual a [[${precioFinal}]]</p>
    </section>

    <section th:fragment="listadoAccesorios">
      <div class="container">
        <!-- fila de 3 columnas -->
        <div class="row row-cols-4">
          <!-- carta de padding 2 , 
          producto porque fue inyectado desde controller, p es una variable-->
          <div class="card p-2" style="border: 0;" th:each="a : ${accesorios}">
            <figure>
              <!-- thymeleaf th:src ruta de imagen -->
              <img th:src="${a.rutaImagen}" 
                   class="card-img-top" 
                   alt="alt" width="100%"/>
              <!--<figcaption>
                  Está envuelta entre paréntesis para que se muestre como parte del mismo texto del precio
                [[...]] se utiliza para procesar el texto sin escapar  
                <span th:if="${moneda == 'euro'}">€</span>
                <span th:if="${moneda == 'dolar'}">$</span>
                [[${a.precio}]] ([[${a.existencias}]])

              </figcaption>-->
            </figure>
            <div class="card-body d-flex justify-content-center">
              <!-- p porque lo nombramos arriba -->
              <a th:href="@{/pruebas/detalles/accesorio/}+${a.Cod_accesorio}" style="text-decoration: none; color: #000;"><h4>[[${a.nombre_accesorio}]] <i class="fa-solid fa-chevron-right" style="color: var(--color-pri)"></i></h4></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <main th:fragment="accesorioDetalles" class="mb-4">
      <div class="container ">
        <div class="row">
          <div class="col-md-7">
            <div class="d-flex justify-content-center">
              <figure class="figure">
                <img th:src="${accesorio.rutaImagen}" 
                     class="rounded" 
                     alt="Imagen del accesorio"
                     width="100%"/>
              </figure>

            </div>
          </div>
          <div class="col-md-5">
            <h2>[[${accesorio.nombre_accesorio}]]</h2>
            <p>Existencias totales [[${accesorio.existencias}]]</p>
            <p>Valor: $[[${accesorio.precio}]]</p>
             <!--
            <form>
              <input type="hidden" 
                     name="idVehiculo" 
                     th:value="${vehiculo.idVehiculo}" />
              <button class="btn bg-naranja"
                      id="addCar"
                      name="addCar"
                      onclick="addCart(this.form)"
                      type="button">
                <i class="fas fa-cart-plus"></i> Agregar
              </button>
            </form>
            comment 
                <select class="form-select" name="pais">
                  <option value="usa" id="uno">Estados Unidos</option>
                  <option value="espana" id="dos">España</option>
                </select>
            <form class="mt-2" >
              <div>
                <!-- 
                <label class="my-2">
                  <input type="radio" name="pais" id="uno"/>USA</label>
                <label class="my-2">
                  <input type="radio" name="pais" id="dos"/>EU</label>
                <br/>
                <!--  <input type="number" id="valore" class="form-control" name="precio" th:field="*{precio}" readonly/>
                <input type="hidden" 
                       name="precio" 
                       th:value="${vehiculo.precio}" id="valore"/>
                <!--  <input type="hidden" 
                name="idVehiculo" 
                th:value="${vehiculo.idVehiculo}" />
                <input class="btn btn-primary" type="button" id="cotizador" value="Cotizar" onclick="convertir()"/>
                <!-- comment<button type="submit" class="btn btn-success mt-2">Calcular</button> -->-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>


    <!--
    <section th:fragment="tabBotons">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">[[#{pruebas.todas}]]</button>
        </li>
        <li class="nav-item" role="presentation"  th:each="c : ${categorias}">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false" th:href="@{/pruebas/listado/}+${c.idCategoria}">[[${c.descripcion}]]</button>
        </li>
      </ul>
    </section>
    -->
    <!--
    <div th:fragment="boton">
     <button class="btn btn-primary" th:onclick="|window.location.href='/index'|">Texto del botón</button>
    -->
    </div>

  </body>
</html>
